**Pandas Datareader**

Pandas datateader is an easy-to-use library that provides data sets for various different financial and economic data. Some of the data sources covered by the library include:
* Tiingo
* IEX
* Alpha Vantage
* Econdb
* Enigma
* Quandl
* FRED
* Fama/French
* World Bank
* OECD
* Eurostat
* TSP Fund Data
* Nasdaq Trader Symbol Definitions
* Stooq Index Data
* MOEX Data

The official documentation can be found at https://pandas-datareader.readthedocs.io/en/latest/



---

**Demo 1:** Finding Historical Stock Prices for a Provided Ticker (5-year Data)

In [7]:
# # Uncomment and run this if you are having any package import issues (dated 6/26/2020)
# !pip3 install --upgrade pandas_datareader
# !pip3 install --upgrade pandas==0.24.2

# import pandas as pd
# pd.core.common.is_list_like = pd.api.types.is_list_like

In [8]:
import pandas_datareader.data as web

In [9]:
stock_ticker = "AAPL"

In [10]:
web.DataReader(stock_ticker, 'stooq')

               Open    High       Low   Close     Volume
Date
2020-06-25  360.700  365.00  357.5700  364.84   34380628
2020-06-24  365.000  368.79  358.5200  360.06   48155849
2020-06-23  364.000  372.38  362.2701  366.53   53038869
2020-06-22  351.340  359.46  351.1500  358.87   33861316
2020-06-19  354.635  356.56  345.1500  349.72   66118952
2020-06-18  351.410  353.45  349.2200  351.73   24205096
2020-06-17  355.150  355.40  351.0900  351.59   28601626
2020-06-16  351.460  353.20  344.7200  352.08   41357182
2020-06-15  333.250  345.68  332.5800  342.99   34702230
2020-06-12  344.720  347.80  334.2233  338.80   50036513
2020-06-11  349.310  351.06  335.4800  335.90   50415613
2020-06-10  347.900  354.77  346.0900  352.84   41662938
2020-06-09  332.140  345.61  332.0100  343.99   36928091
2020-06-08  330.250  333.60  327.3200  333.46   23913634
2020-06-05  323.350  331.75  323.2300  331.50   34312550
2020-06-04  324.390  325.62  320.7800  322.32   21890091
2020-06-03  324.660  326.20  322.3000  325.12   26122804
2020-06-02  320.745  323.44  318.9300  323.34   21910704
2020-06-01  317.750  322.35  317.2100  321.85   20254653
2020-05-29  319.250  321.15  316.4700  317.94   38399532
2020-05-28  316.770  323.44  315.6300  318.25   33449103
2020-05-27  316.140  318.71  313.0900  318.11   28236274
2020-05-26  323.500  324.24  316.5000  316.73   31380454
2020-05-22  315.770  319.23  315.3500  318.89   20450754
2020-05-21  318.660  320.89  315.8700  316.85   25672211
2020-05-20  316.680  319.52  316.2000  319.23   27876215
2020-05-19  315.030  318.52  313.0100  313.14   25432385
2020-05-18  313.170  316.50  310.3241  314.96   33843125
2020-05-15  300.350  307.90  300.2100  307.71   41587094
2020-05-14  304.510  309.79  301.5300  309.54   39732269
...             ...     ...       ...     ...        ...
2015-08-10  107.880  111.09  107.8800  110.86   59356958
2015-08-07  106.070  107.62  105.9900  106.95   41770603
2015-08-06  107.350  107.85  105.6500  106.59   57116886
2015-08-05  104.110  108.23  103.3100  106.36  107760061
2015-08-04  108.210  108.47  104.3800  105.66  134697745
2015-08-03  111.970  112.96  108.3000  109.13   75893672
2015-07-31  112.980  113.02  111.4300  111.78   46532658
2015-07-30  112.730  112.96  112.1600  112.78   36488589
2015-07-29  113.520  113.82  112.6800  113.37   40159839
2015-07-28  113.710  114.19  112.9400  113.71   36477525
2015-07-27  113.460  113.92  112.5600  113.15   48236852
2015-07-24  115.520  115.89  114.1800  114.74   45748596
2015-07-23  116.300  117.13  115.2700  115.36   55337375
2015-07-22  112.430  115.66  112.4300  115.42  125270749
2015-07-21  122.430  122.49  120.0800  120.50   83285245
2015-07-20  120.700  122.54  120.4500  121.71   63910211
2015-07-17  118.970  119.48  118.2400  119.48   50091437
2015-07-16  117.750  118.48  117.3800  118.42   39303455
2015-07-15  115.870  117.19  115.7300  116.86   36490469
2015-07-14  116.170  116.45  115.2500  115.76   34460717
2015-07-13  115.240  115.90  114.5600  115.81   44965399
2015-07-10  112.380  114.14  111.6900  113.62   66573161
2015-07-09  114.140  114.32  109.8700  110.67   85280236
2015-07-08  114.720  114.87  112.9300  112.96   65929939
2015-07-07  116.030  116.26  114.0600  115.84   50940061
2015-07-06  115.150  116.33  115.0700  116.13   30447196
2015-07-02  116.510  116.75  115.9200  116.52   29525441
2015-07-01  116.940  116.98  116.1200  116.66   32810891
2015-06-30  115.720  116.23  115.0800  115.59   48144822
2015-06-29  115.620  116.55  114.7200  114.77   53343034

[1258 rows x 5 columns]

Different use cases of the Pandas datareader library might be using different sources (i.e. replacing 'stooq' with a different source). In order to extract different datasets from this library, please refer to the documentation (link above) for instructions.