If helpful related to 
https://github.com/scetx/datax/blob/master/01-data-x-fundamentals/m161-h2o-and-ensemble-introduction%20/hw-m161-data-cleaning-H2O.ai-and-Models.ipynb

In [26]:
# import pandas
import pandas as pd

In [27]:
# https://www.kaggle.com/rmisra/clothing-fit-dataset-for-size-recommendation?select=modcloth_final_data.json

# read in the json file
mcd = pd.read_json('modcloth_final_data.json', lines=True)

# view the first 5 rows
mcd.head()

,item_id,waist,size,quality,cup size,hips,bra size,category,bust,height,user_name,length,fit,user_id,shoe size,shoe width,review_summary,review_text
0,123373,29.0,7,5.0,d,38.0,34.0,new,36,5ft 6in,Emily,just right,small,991571,NaN,NaN,NaN,NaN
1,123373,31.0,13,3.0,b,30.0,36.0,new,NaN,5ft 2in,sydneybraden2001,just right,small,587883,NaN,NaN,NaN,NaN
2,123373,30.0,7,2.0,b,NaN,32.0,new,NaN,5ft 7in,Ugggh,slightly long,small,395665,9.0,NaN,NaN,NaN
3,123373,NaN,21,5.0,dd/e,NaN,NaN,new,NaN,NaN,alexmeyer626,just right,fit,875643,NaN,NaN,NaN,NaN
4,123373,NaN,18,5.0,b,NaN,36.0,new,NaN,5ft 2in,dberrones1,slightly long,small,944840,NaN,NaN,NaN,NaN

In [28]:
# output dataframe as csv for H2O.ai
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html
# ensure the suffix is .csv
mcd.to_csv("modcloth_final_data.csv", index=False)

In [31]:
# view fit counts
mcd["fit"].value_counts()

fit      56757
large    13059
small    12974
Name: fit, dtype: int64

In [32]:
# map the string type class column into a new binary encoded column
mcd["fit_numeric"] = mcd["fit"].map({"fit":0, "large": 1, "small": 2})

# view fit by mean quality rating
mcd[["fit_numeric", "quality"]].groupby("fit_numeric").mean()

              quality
fit_numeric
0            4.083189
1            3.828668
2            3.482982

# Part of potential hypothesis

If people find clothes are small, they are more likely to give a lower quality rating than if they find clothes fit or are large. That might influence an eventual model that predicts quality ratings on a dataset it hasn't seen yet.

Reminder from class, 9/24/2021: A dataset for model training should have not label encoding (column "fit" with 0=fit, 1=large, 2=small) but one-hot encoding (column "fit" is 0 or 1, column "large" is 0 or 1, and column "small" is 0 or 1) if KNN, linear models, or Neural Networks will be used, for example.

Summary insights slide (restricted access to Data-X enrolled students):
https://docs.google.com/presentation/d/1MMHv4VcGp0vMCmp_xFXArs_pacC9CNz3XrYp8mN1LVY/edit#slide=id.ged0aba1dc1_0_198